contractions==0.1.73
evaluate==0.4.0
openai==0.27.6
pandas==2.0.0
petals==1.1.5
peft==0.3.0
praw==7.6.1
pymysql==1.0.3
ray==2.4.0
redditcleaner==1.1.2
rouge_score==0.1.2
scikit_learn==1.2.2
SQLAlchemy==2.0.15
tabulate==0.9.0
textblob==0.17.1
tqdm==4.65.0
transformers==4.29.2
